<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Edit Profile</h4>
                  </div>
                  <div class="content">
                      <form [formGroup]="formulario">
                          <div class="row">
                              <div class="col-md-5">
                                  <div class="form-group">
                                      <label class="required">Nome</label>
                                      <input formControlName="name" type="text" class="form-control" placeholder="Nome do Software">
                                      <app-vmessage 
                                            [displayError]="isFieldValid('name')" 
                                            errorMsg="Campo Obrigatório">
                                        </app-vmessage> 
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label class="required">Apelido</label>
                                      <input formControlName="nickname" type="text" class="form-control" placeholder="Apelido">
                                      <app-vmessage 
                                            [displayError]="isFieldValid('nickname')" 
                                            errorMsg="Campo Obrigatório">
                                        </app-vmessage> 
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Chave Pública</label>
                                      <input formControlName="publicKey" type="text" class="form-control" placeholder="Chave Pública" value="">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                    <label>Chave Privada</label>
                                    <input formControlName="privateKey" type="text" class="form-control" placeholder="Chave Privada" value="">
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Endereço virtual para o Manual de Instruções</label>
                                    <input formControlName="urlUserManual" type="text" class="form-control" placeholder="Url do Manual de Instruções">
                                </div>
                            </div>

                            <div class="col-md-5">
                              <div class="form-group">
                                  <label>Email para contato</label>
                                  <input formControlName="emailContact" type="text" class="form-control" placeholder="Email para contato">
                              </div>
                            </div>

                          </div>

                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group form-check">
                                      <input formControlName="mobileVersion" type="checkbox" class="form-check-input" id="exampleCheck1">
                                      <label class="form-check-label" for="exampleCheck1">Versão Mobile?</label>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group form-check">
                                      <input formControlName="active" type="checkbox" class="form-check-input" id="exampleCheck1">
                                      <label class="form-check-label" for="exampleCheck1">Ativo?</label>
                                    </div>
                                </div>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group form-check">
                                      <input formControlName="inMaintenance" type="checkbox" class="form-check-input" id="exampleCheck1">
                                      <label class="form-check-label">Em Manutenção?</label>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label class="required">Descrição</label>
                                      <textarea formControlName="consideration" rows="5" class="form-control" placeholder="Breve descrição sobre o sistema"></textarea>
                                      <app-vmessage 
                                            [displayError]="isFieldValid('consideration')" 
                                            errorMsg="Campo Obrigatório">
                                        </app-vmessage> 
                                  </div>
                              </div> 
                          </div>
                          <button (click)="updateSoftware()" type="submit" class="btn btn-info btn-fill pull-right">Enviar Informações</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-2">
            <div class="card">
                <div class="content">
                <button type="submit" class="btn btn-info btn-fill pull-left" (click)="listSoftwares()">Voltar para a Listagem</button>
                </div>
                </div>
                
          </div>
      </div>
  </div>
</div>
