<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <div class="row">
              <div class="offset-md-8 col-md-2">
                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-success btn-fill"
                    (click)="backToList()"
                  >
                    Voltar para a Listagem
                  </button>
                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-info btn-fill"
                    (click)="addUpdateNote()"
                  >
                    Inserir Novo Update
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="content">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div *ngIf="software$ | async as softwareRelease">
                  <mat-accordion>
                    <mat-expansion-panel
                      *ngFor="let release of softwareRelease.updateList"
                    >
                      <mat-expansion-panel-header>
                        <div class="row col-md-12">
                          <div class="col-md-4">
                            <div class="form-group">
                              <span style="color: black; font-weight: bold;">{{
                                release.nome
                              }}</span>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              {{ release.descricao }}
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              {{
                                release.dataAtualizacao
                                  | date: 'dd/MM/yyyy HH:mm:ss'
                              }}
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel-header>

                      <div class="card">
                        <div class="content">
                          <span class="nav-tabs-title">
                            {{ release.notaAtualizacao }}</span
                          >
                        </div>
                      </div>

                      <table class="table">
                        <tbody>
                          <tr *ngFor="let note of release.updateDetailList">
                            <td class="col-md-2">
                              {{ note.updateDetailType }}
                            </td>
                            <td class="col-md-2">
                              {{ note.nome }}
                            </td>
                            <td class="col-md-8">
                              {{ note.descricao }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
