<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <button
              type="submit"
              class="btn btn-info btn-fill pull-left"
              style="float: right;"
              (click)="updateNotes()"
            >
              Historico de Updates
            </button>
          </div>
          <div class="content">
            <form [formGroup]="formulario">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div
                    class="card"
                    *ngIf="software$ | async as softwareRelease"
                  >
                    <mat-expansion-panel
                      *ngFor="let release of softwareRelease.updateList"
                    >
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{ release.nome }}
                        </mat-panel-title>
                        <mat-panel-description>
                          {{
                            release.dataAtualizacao
                              | date: 'dd/MM/yyyy HH:mm:ss'
                          }}
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      <div class="card">
                        <div class="content">
                          <span class="nav-tabs-title">
                            {{
                              softwareRelease.updateList[
                                softwareRelease.updateList.length - 1
                              ].notaAtualizacao
                            }}</span
                          >
                        </div>
                      </div>

                      <table class="table">
                        <tbody>
                          <tr *ngFor="let note of release.updateDetailList">
                            <td>
                              {{ note.updateDetailType }}
                            </td>
                            <td>
                              {{ note.nome }}
                            </td>
                            <td>
                              {{ note.descricao }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </mat-expansion-panel>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
