<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="account-wall">
        <img
          class="profile-img"
          src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
          alt=""
        />
        <form [formGroup]="loginForm" class="form-signin" (submit)="login()">
          <div class="form-group">
            <input
              formControlName="username"
              type="text"
              class="form-control required"
              placeholder="login"
              required
              autofocus
            />
            <app-vmessage
              [displayError]="
                loginForm.get('username').touched &&
                loginForm.get('username').errors?.required
              "
              errorMsg="User name is requiresdd!"
            >
            </app-vmessage>
          </div>

          <div class="form-group">
            <input
              formControlName="password"
              type="password"
              class="form-control"
              placeholder="Password"
              required
            />
            <app-vmessage
              [displayError]="
                loginForm.get('password').touched &&
                loginForm.get('password').errors?.required
              "
              errorMsg="Password is required!"
            >
            </app-vmessage>
          </div>

          <button
            class="btn btn-lg btn-primary btn-block btn-fill"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
