.income {
  color: rgb(69, 172, 9);
}

.expense {
  color: rgba(196, 29, 29, 0.993);
}

.menu-align-right {
  margin-left: auto;
  margin-right: 0;
}

.label-100 {
  display: block;
  width: 100%;
}

.border-bottom {
  border-bottom-width: 2px !important;
  border-bottom-style: solid;
  border-color: #e0e0e0;
}

.border-right {
  border-right-width: 2px !important;
  border-right-style: solid;
  border-color: #e0e0e0;
}

.text-footer {
  font-size: 18px;
  text-transform: capitalize;
}

.text-size-30 {
  font-size: 30px;
}

.card-footer {
  background-color: rgba(0, 0, 0, 0);
}

.card {
  margin-bottom: 5px;
}

.list-transaction {
  font-size: 17px;
}

.table-row {
  height: 35px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.category-name {
  color: #00000096;
}

.category-amount {
  text-align: right;
  font-weight: bold;
  font-size: 19px;
}

.progress-arrow-indicator {
  width: 6%;
  text-align: center;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.lar {
  text-align: right;
}

.month-analysis {
  margin-top: 1%;
}
