<div class="card card-chart">
  <div class="card-body">
    <canvas id="month-analysis"></canvas>
  </div>
  <div class="card-footer">
    <div class="row border-bottom" *ngIf="currentMonth">
      <div class="col-md-6 border-right">
        <div class="form-group">
          <label class="label-100 text-footer">Income</label>
          <label class="label-100 income text-size-30">{{
            currentMonth.income | currency: "EUR":"symbol"
          }}</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="label-100 text-footer">Expenses</label>
          <label class="label-100 expense text-size-30">
            {{ currentMonth.expense | currency: "EUR":"symbol" }}</label
          >
        </div>
      </div>
    </div>

    <div class="month-analysis">
      <div class="list-transaction" *ngIf="monthAnalysis$ | async as data">
        <div *ngFor="let item of data">
          <div class="row table-row" *ngIf="!!!item.entryType">
            <div class="row w-100">
              <div class="menu-icon w-10">
                <mat-icon aria-hidden="false">home</mat-icon>
              </div>
              <div class="w-40 category-name">{{ item.categoryName }}</div>
              <div class="w-20 category-amount">
                {{ item.amount | currency: "EUR":"symbol" }}
              </div>
              <div class="menu-icon progress-arrow-indicator">
                <mat-icon
                  aria-hidden="false"
                  [ngClass]="!item.better ? 'income' : 'expense'"
                  >{{
                    !item.better ? "trending_up" : "trending_down"
                  }}</mat-icon
                >
              </div>
              <div class="w-15 category-name lar">
                {{ item.rateAgainstLastMonth }} %
              </div>
              <div
                class="menu-icon progress-arrow-indicator center-vertical"
                style="margin-left: 5px"
              >
                <mat-progress-spinner
                  class="example-margin"
                  [color]="'primary'"
                  [mode]="'determinate'"
                  [value]="item.rateAgainstLastMonth"
                  [diameter]="'25'"
                >
                </mat-progress-spinner>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
