<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                    <div class="row">
                        <div class="form-group col-md-10">
                          <h4 class="title">Lista geral de Aplicativos</h4>
                          <p class="category">Lista com todos os aplicativos habilitados para controle de acesso</p>
                        </div>
                        <div class="form-group col-md-2">
                          <button type="submit" class="btn btn-info btn-fill pull-right" (click)="addNewSoftware()">Inserir Novo</button>
                        </div>
                      </div>
                  </div>
                  <div class="content table-responsive table-full-width" *ngIf="(softwares$ | async) as softwares">
                        <table class="table table-hover table-striped">
                              <thead>
                                <tr>
                                  <th>Id</th>
                                  <th>Nome</th>
                                  <th>Apelido</th>
                                  <th>Mobile</th>
                                  <th>Ativo</th>
                                  <th></th> 
                              </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let software of softwares">
                                  <td>{{software.id}}</td>
                                  <td>{{software.name}}</td>
                                  <td>{{software.nickname}}</td>
                                  <td>
                                    <input type="checkbox" [disabled]="true" [checked]="software.mobileVersion">
                                  </td>
                                  <td>
                                    <input type="checkbox" [disabled]="true" [checked]="software.active">
                                  </td>
                                  <td class="pull-right">
                                      <span>
                                          <button (click)="remove(software.id)" type="submit" class="btn btn-danger btn-fill" style="padding: 0px 12px;">
                                              <span style="cursor: pointer;" class="fa fa-times" aria-hidden="true"></span>
                                          </button>
                                      </span>
                                      <span style="margin-left: 5px;">
                                          <button (click)="edit(software.id)" type="submit" class="btn btn-info btn-fill" style="padding: 0px 12px;">
                                              <span style="cursor: pointer;" class="fa fa-pencil-square-o" aria-hidden="true"></span>
                                          </button>
                                      </span>
                                  </td>
                                </tr>  
                              </tbody>
                        </table>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
