<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Editar perfil</h4>
          </div>
          <div class="content">
            <form [formGroup]="formulario">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="required">Empresa</label>
                    <input
                      formControlName="company"
                      type="text"
                      class="form-control"
                      placeholder="Empresa"
                      value="Creative Code Inc."
                    />
                    <app-vmessage
                      [displayError]="isFieldValid('company')"
                      errorMsg="Campo Obrigatório"
                    >
                    </app-vmessage>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="required"
                      >Email</label
                    >
                    <input
                      formControlName="email"
                      type="email"
                      class="form-control"
                      placeholder="Email"
                    />
                    <app-vmessage
                      [displayError]="isFieldValid('email')"
                      errorMsg="Campo Obrigatório"
                    >
                    </app-vmessage>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="required"
                      >Super usuário?</label
                    >
                    <input
                      formControlName="superUser"
                      type="checkbox"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="required">Username</label>
                    <input
                      formControlName="username"
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      value=""
                    />

                    <app-vmessage
                      [displayError]="isFieldValid('username')"
                      errorMsg="Campo Obrigatório"
                    >
                    </app-vmessage>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="required">Password</label>
                    <input
                      formControlName="password"
                      type="password"
                      class="form-control"
                      placeholder="Password"
                    />
                    <app-vmessage
                      [displayError]="isFieldValid('password')"
                      errorMsg="Campo Obrigatório"
                    >
                    </app-vmessage>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="required">Primeiro Nome</label>
                    <input
                      formControlName="firstName"
                      type="text"
                      class="form-control"
                      placeholder="Primeiro Nome"
                      value="Mike"
                    />
                    <app-vmessage
                      [displayError]="isFieldValid('firstName')"
                      errorMsg="Campo Obrigatório"
                    >
                    </app-vmessage>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Último Nome</label>
                    <input
                      formControlName="lastName"
                      type="text"
                      class="form-control"
                      placeholder="Último Nome"
                      value="Andrew"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Endereço</label>
                    <input
                      formControlName="address"
                      type="text"
                      class="form-control"
                      placeholder="Endereço"
                      value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Cidade</label>
                    <input
                      formControlName="city"
                      type="text"
                      class="form-control"
                      placeholder="Cidade"
                      value="Mike"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>País</label>
                    <input
                      formControlName="country"
                      type="text"
                      class="form-control"
                      placeholder="País"
                      value="Andrew"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>CEP</label>
                    <input
                      formControlName="postalCode"
                      type="number"
                      class="form-control"
                      placeholder="CEP"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Sobre Mim</label>
                    <textarea
                      formControlName="consideration"
                      rows="5"
                      class="form-control"
                      placeholder="Fale um pouco sobre você"
                      value="Mike"
                    ></textarea>
                  </div>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-danger btn-fill pull-left col-md-3"
                (click)="cancelUpdate()"
              >
                Cancelar
              </button>
              <button
                type="submit"
                class="btn btn-success btn-fill pull-right col-md-3"
                (click)="updateUser()"
              >
                Salvar
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
