<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="software$ | async as software">
      <div class="col-md-12">
        <div class="card">
          <div class="content">
            <form [formGroup]="formulario">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-md-12">dados do Software</label>
                    {{ software.name }} - {{ software.publicKey }}
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label class="required">Nome</label>
                    <input
                      formControlName="nome"
                      type="text"
                      class="form-control"
                      placeholder="1.0.0"
                    />
                    <app-vmessage
                      [displayError]="isFieldValid('nome')"
                      errorMsg="Campo Obrigatório"
                    >
                    </app-vmessage>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label class="required">data da Atualização</label>
                    <input
                      disabled
                      type="text"
                      class="form-control"
                      placeholder="1.0.0"
                      value="{{ dataAtual | date: 'dd/MM/yyyy HH:mm:ss' }}"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="required">Descrição</label>
                    <textarea
                      formControlName="descricao"
                      rows="2"
                      class="form-control"
                      placeholder="Update de segurança"
                    ></textarea>
                    <app-vmessage
                      [displayError]="isFieldValid('descricao')"
                      errorMsg="Campo Obrigatório"
                    >
                    </app-vmessage>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="form-group">
                    <label class="required">Notas de Atualização</label>
                    <textarea
                      formControlName="notaAtualizacao"
                      rows="2"
                      class="form-control"
                      placeholder="Atualizações para aumentar a segurança"
                    ></textarea>
                    <app-vmessage
                      [displayError]="isFieldValid('notaAtualizacao')"
                      errorMsg="Campo Obrigatório"
                    >
                    </app-vmessage>
                  </div>
                </div>
              </div>
            </form>

            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="header">
                    <h4 class="title">Releases da Versão</h4>
                  </div>

                  <div class="content">
                    <form [formGroup]="formRelease">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="required">Nome</label>
                            <input
                              formControlName="rls_nome"
                              type="text"
                              class="form-control"
                              placeholder="Melhorias de Segurança"
                            />
                            <app-vmessage
                              [displayError]="isFieldValid('nome')"
                              errorMsg="Campo Obrigatório"
                            >
                            </app-vmessage>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="required">Label</label>
                            <input
                              formControlName="rls_identificacao"
                              type="text"
                              class="form-control"
                              placeholder="JWT"
                            />
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="required">Tipo de Release</label>

                            <select
                              matNativeControl
                              class="custom-select"
                              formControlName="rls_tipo"
                            >
                              <option value="BUG">BUG</option>
                              <option value="HOTFIX">HOTFIX</option>
                              <option value="FEATURE">FEATURE</option>
                              <option value="ENHANCEMENT">ENHANCEMENT</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-10">
                          <div class="form-group">
                            <label class="required">Descrição</label>
                            <textarea
                              formControlName="rls_descricao"
                              rows="2"
                              class="form-control"
                              placeholder="Update de segurança"
                            ></textarea>
                            <app-vmessage
                              [displayError]="isFieldValid('descricao')"
                              errorMsg="Campo Obrigatório"
                            >
                            </app-vmessage>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <button
                            [disabled]="formRelease.invalid"
                            type="submit"
                            class="btn btn-success btn-fill pull-right"
                            (click)="addReleaseNotes()"
                          >
                            Adicionar à Lista
                          </button>
                        </div>
                      </div>

                      <div class="clearfix">
                        Qtd. de Releases Inseridos: {{ objModel.length }}

                        <table class="table">
                          <tbody>
                            <tr
                              *ngFor="let obj of objModel; index as itemIndex"
                            >
                              <td>
                                {{ obj.nome }}
                              </td>
                              <td>
                                {{ obj.identificacao }}
                              </td>
                              <td>
                                {{ obj.updateDetailType }}
                              </td>
                              <td>
                                {{ obj.descricao }}
                              </td>

                              <td class="pull-right">
                                <span>
                                  <button
                                    (click)="removeReleaseNote(itemIndex)"
                                    type="submit"
                                    class="btn btn-danger btn-fill"
                                    style="padding: 0px 12px;"
                                  >
                                    <span
                                      style="cursor: pointer;"
                                      class="fa fa-times"
                                      aria-hidden="true"
                                    ></span>
                                  </button>
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <button
              type="submit"
              class="btn btn-danger btn-fill pull-left col-md-3"
              (click)="cancelUpdateNote()"
            >
              Cancel
            </button>
            <button
              type="submit"
              [disabled]="formulario.invalid || objModel.length === 0"
              class="btn btn-success btn-fill pull-right col-md-3"
              (click)="saveNewUpdatenote(software.publicKey)"
            >
              Salvar Alterações
            </button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
